<div class="container">
  <div class="col-md-6 offset-md-3 mt-4">
    <div class="card">
      <div class="card-body">
        <h2>新規登録</h2>
        <p class="text-muted">サンプルアプリケーションですので、メールアドレスは架空のものを使用してください。</p>
        <%= form_tag("/users/create",  class: "mt-4") do %>
          <fieldset>
            <% if @user.errors.size > 0 %>
              <div class="alert alert-dismissible alert-warning">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <ul class="m-0">
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="form-group">
              <label class="col-form-label" for="InputUserName">名前</label>
              <input type="text" class="form-control" id="InputUserName" name="name" value="<%= @user.name %>" required>
            </div>
            <div class="form-group">
              <label for="InputEmail">メールアドレス</label>
              <input type="email" class="form-control" id="InputEmail" name="email" value="<%= @user.email %>" required>
            </div>
            <div class="form-group">
              <label for="InputPassword">パスワード</label>
              <input type="text" class="form-control" id="InputPassword" name="password" value="<%= @user.password %>" required>
            </div>
            <button type="submit" class="btn btn-primary">新規登録</button>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>
