<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-dismissible alert-info mt-4">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <span><%= flash[:notice] %></span>
    </div>
  <% end %>
  <div class="card mt-4">
    <div class="card-body d-flex flex-column">
      <%= link_to("/users/#{@post.user_id}", class: "post-user d-flex flex-row align-items-center mb-3") do %>
        <%= image_tag("/user_images/#{@post.user.image_name}", class: "rounded-circle size-50 mr-4") %>
        <h5 class="mr-4 mb-0"><%= @post.user.name %></h5>
      <% end %>
      <%= simple_format(@post.content, class: "card-text lead") %>
      <span class="text-muted"><%= @post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y-%m-%d %H:%M") %></span>
    </div>
    <div class="card-footer">
      <div class="d-flex align-items-center">
        <div class="btn-group mr-4" role="group">
          <% if @current_user %>
            <button class="btn btn-secondary" onclick="document.getElementById('comment-form-textarea').focus();"><i class="far fa-comment-alt mr-2"></i><span class="commented-count"><%= @post.comments.count %></span></button>
          <% else %>
            <i class="far fa-comment-alt mr-2"></i><span class="commented-count"><%= @post.comments.count %></span>
          <% end %>
        </div>
        <div class="btn-group" role="group">
          <% if @current_user %>
              <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
                <%= link_to("/likes/#{@post.id}/destroy", class: "btn btn-secondary liked", method: "post") do %>
                  <i class="fas fa-heart mr-2"></i><span class="liked-count"><%= @post.liked_users.count %></span>
                <% end %>
              <% else %>
                <%= link_to("/likes/#{@post.id}/create", class: "btn btn-secondary", method: "post") do %>
                  <i class="far fa-heart mr-2"></i><span class="liked-count"><%= @post.liked_users.count %></span>
                <% end %>
              <% end %>
          <% else %>
            <i class="far fa-heart mr-2"></i><span class="liked-count"><%= @post.liked_users.count %></span>
          <% end %>
        </div>
        <% if @current_user %>
          <% if @current_user.id == @post.user_id %>
            <div class="btn-group ml-auto" role="group">
              <button type="button" class="btn btn-secondary d-flex align-items-center" onclick="location.href='/posts/<%= @post.id %>/edit'"><i class="far fa-edit"></i></button>
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-destroy"><i class="far fa-trash-alt"></i></button>
            </div>
            <div class="modal fade" id="modal-destroy" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
              <div class="modal-dialog modal-warning" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="label1">投稿の削除</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    投稿を削除しますか？
                  </div>
                  <div class="modal-footer">
                    <%= link_to("/posts/#{@post.id}/destroy", method: "post") do %>
                      <button type="button" class="btn btn-danger">削除</button>
                    <% end %>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @current_user %>
    <%= form_tag("/comments/#{@post.id}/create", class: "mt-4", id: "comment-form", method: :post) do %>
      <% if @comment.errors.size > 0 %>
        <div class="alert alert-dismissible alert-warning">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <ul class="m-0">
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <fieldset>
        <div class="form-group d-flex flex-row">
          <%= image_tag("/user_images/#{@current_user.image_name}", class: "rounded-circle size-40 mr-4") %>
          <div class="flex-fill">
            <textarea id="comment-form-textarea" class="form-control" rows="3" name="content" placeholder="コメントしよう"><%= @comment.content %></textarea>
          </div>
          <div class="ml-4">
            <button type="submit" class="btn btn-primary">投稿</button>
          </div>
        </div>
      </fieldset>
    <% end %>
  <% end %>

  <% @comments.each do |comment| %>
    <div class="card mt-4">
      <div class="card-body d-flex flex-row">
        <%= image_tag("/user_images/#{comment.user.image_name}", class: "rounded-circle size-40 mr-4") %>
        <div class="d-flex flex-column">
          <div class="d-flex flex-row align-items-end mb-2">
            <h5 class="mr-4 mb-0"><%= comment.user.name %></h5>
            <small class="text-muted"><%= time_ago_in_words(comment.created_at) %>前</small>
          </div>
          <%= simple_format(comment.content, class: "card-text") %>
        </div>
      </div>
      <% if @current_user %>
        <% if @current_user.id == comment.user_id %>
          <div class="card-footer">
            <div class="d-flex align-items-center">
              <div class="btn-group ml-auto" role="group">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-destroy"><i class="far fa-trash-alt"></i></button>
              </div>
              <div class="modal fade" id="modal-destroy" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
                <div class="modal-dialog modal-warning" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="label1">コメントの削除</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      コメントを削除しますか？
                    </div>
                    <div class="modal-footer">
                      <%= link_to("/comments/#{comment.id}/destroy", method: "post") do %>
                        <button type="button" class="btn btn-danger">削除</button>
                      <% end %>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <%= paginate @comments %>
</div>
