<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-dismissible alert-info mt-4">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <span><%= flash[:notice] %></span>
    </div>
  <% end %>
  <div class="card mt-4">
    <div class="card-body">
      <%= simple_format(@post.content, class: "card-text lead") %>
    </div>
    <div class="card-footer d-flex align-items-center">
      <span class="text-muted"><%= @post.created_at.in_time_zone('Asia/Tokyo').strftime('%Y/%m/%d %H:%M') %></span>
      <div class="btn-group ml-auto" role="group" aria-label="Basic example">
        <%= link_to("/posts/#{@post.id}/edit") do %>
          <button type="button" class="btn btn-secondary"><big><i class="fa fa-edit"></i></big></button>
        <% end %>
        <%= link_to("/posts/#{@post.id}/destroy") do %>
          <button type="button" class="btn btn-secondary"><big><i class="fa fa-trash"></i></big></button>
        <% end %>
      </div>
    </div>
  </div>
</div>
