<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-dismissible alert-info mt-4">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <span><%= flash[:notice] %></span>
    </div>
  <% end %>
  <div class="card mt-4">
    <div class="card-body d-flex flex-column">
      <%= link_to("/users/#{@post.user_id}", class: "post-user d-flex flex-row align-items-center mb-3") do %>
        <%= image_tag("/user_images/#{@post.user.image_name}", class: "rounded-circle size-50 mr-4") %>
        <h5 class="mr-4 mb-0"><%= @post.user.name %></h5>
      <% end %>
      <%= simple_format(@post.content, class: "card-text lead") %>
      <span class="text-muted"><%= @post.created_at.in_time_zone('Asia/Tokyo').strftime("%Y-%m-%d %H:%M") %></span>
    </div>
    <div class="card-footer">
      <div class="d-flex align-items-center">
        <div class="btn-group" role="group">
          <% if @post.id % 3 == 0 %>
            <button type="button" class="btn btn-secondary liked"><i class="fas fa-heart mr-2"></i><span>15</span></button>
          <% else %>
            <button type="button" class="btn btn-secondary"><i class="far fa-heart mr-2"></i><span>14</span></button>
          <% end %>
        </div>
        <% if @current_user.id == @post.user_id %>
          <div class="btn-group ml-auto" role="group">
            <button type="button" class="btn btn-secondary d-flex align-items-center" onclick="location.href='/posts/<%= @post.id %>/edit'"><i class="far fa-edit"></i></button>
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-destroy"><i class="far fa-trash-alt"></i></button>
          </div>
          <div class="modal fade" id="modal-destroy" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
            <div class="modal-dialog modal-warning" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="label1">投稿の削除</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  投稿を削除しますか？
                </div>
                <div class="modal-footer">
                  <%= link_to("/posts/#{@post.id}/destroy") do %>
                    <button type="button" class="btn btn-danger">削除</button>
                  <% end %>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</div>
