<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <%= link_to("TweetApp", "/", class: "navbar-brand") %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <% if @current_user %>
                <li class="nav-item">
                  <%= link_to("投稿一覧", "/posts/index", class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link_to("ユーザー一覧", "/users/index", class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link_to("ログアウト", "/logout", class: "nav-link", method: "post") %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to("新規登録", "/signup", class: "nav-link") %>
                </li>
                <li class="nav-item">
                  <%= link_to("ログイン", "/login", class: "nav-link") %>
                </li>
              <% end %>
            </ul>
            <% if @current_user %>
              <div class="mr-2"><%= @current_user.name %></div>
              <%= form_tag('/posts/search', class: "form-inline my-2 my-lg-0", method: :post) do %>
                <input class="form-control mr-sm-2" name="keyword" type="text" placeholder="キーワード" value="<%= @keyword %>">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
              <% end %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer class="footer mt-4">
      <div class="container">
        <p class="text-muted">footer content here.</p>
      </div>
    </footer>
  </body>
</html>
